@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.divBtnNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.btnNav {
    background-color: antiquewhite;
    border: 2.5px antiquewhite solid;
    color: black;
    border-radius: 3px;
    padding: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    cursor: pointer;
}

.btnNav:hover {
    background-color: #fff;
    border-bottom: 2px solid antiquewhite;
    transition: 0.4s;
}

.btnNavA{
    text-decoration: none;
    color: black;
}