@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.divCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
}

.divCartImg{
    width: 30px;
    height: 30px;
}